.header {
    width: 100%;
    display: flex;
    padding: 10px 110px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1000;
}

.menu-btn {
    display: none;
}

.close-btn {
    display: none;
}

.menu-toggle-icon {
    display: none;
}

.brand-logo img {
    height: 70px;
    transition: 256ms;
}

.menu {
    display: block;
    transition: 256ms;
    padding: .5rem 1rem;
}

.menu.menu-active {
    display: block;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    color: #111111;
    font-size: 90%;
    font-weight: 600;
    padding: 10px 10px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.menu-item {
    color: #111111;
    font-size: 100%;
    text-decoration: none;
}

.menu-item:hover {
    color: #111111;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right div {
    margin: 0 10px;
}

.header.active {
    width: 100%;
    background: #fff;
    padding-top: 8px !important;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.header.active .brand-logo img {
    height: 50px;
}

.search-icon {
    color: #C80E1B;
    font-size: 18px;
    cursor: pointer;
}

.login-signup button, .menu ul li button {
    margin: 0 10px;
    border: none;
    background-color: transparent;
    outline: none;
    color: #111;
    font-weight: 700;
    font-size: 90%;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.login-signup button.signup, .menu ul li button.signup {
    background-color: #C80E1B;
    padding: 8px 20px;
    color: #fff;
    font-size: 95%;
    font-weight: 600;
    border-radius: 5px;
}

@media only screen and (min-width:768px) {
    .menu ul li button {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .menu-toggle-icon {
        display: block;
    }
    .close-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
        padding: 5px;
    }
    .header {
        width: 100%;
        display: flex;
        padding: 10px 30px;
        align-items: center;
        justify-content: space-between;
        position: fixed;
    }
    .menu.mobile-menu-active {
        display: block;
        left: 0;
        padding-top: 20px;
    }
    .menu.menu-active {
        display: none;
    }
    .header.active .brand-logo img {
        height: 60px;
    }
    .menu {
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: -100%;
        background-color: #fff;
        transition: width 1s ease-out;
        z-index: 999999;
    }
    .menu ul {
        overflow: hidden;
    }
    .menu ul li {
        display: block;
        text-align: center;
    }
    .header .menu-icon {
        position: relative;
        display: block;
        padding: 20px 0px;
        cursor: pointer;
    }
    .header .nav-icon {
        position: relative;
        display: block;
        height: 2px;
        width: 30px;
        background: red;
        transition: background .2s ease-out;
    }
    .header .menu-icon .nav-icon::before {
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: red;
        top: 7px;
        transition: all .2s ease-out;
    }
    .header .menu-icon .nav-icon::after {
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: red;
        top: -7px;
        transition: all .2s ease-out;
    }
    .header .menu-btn {
        display: none;
    }
    /* .header .menu-btn:checked~.menu {
        width: 100%;
    }
    .header .menu-btn:checked~.menu-icon .nav-icon {
        background: transparent;
    }
    .header .menu-btn:checked~.menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
    }
    .header .menu-btn:checked~.menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
    } */
    .login-signup {
        display: none;
    }
}