*{
  margin: 0;
  padding: 0;
}

html,body{
  font-family: 'Butler Regular', serif !important;
  
}
.swiper-pagination-bullet {
  width: 15px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: #1F6A2F !important;
  opacity: .9 !important;
}
.swiper-pagination-bullet-active{
  width: 10px !important;
  height: 8px;
  background-color: #C80E1B !important;
  opacity: 1;
}


